<div class="jumbotron" id="testHeadingEvaluation">
  <h2>Evaluator</h2>
</div>

<div id="noValues" class="alert alert-warning" role="alert" ng-show="gradeValuesNotPresent()">
  No grade values present
</div>

<div ng-show="!gradeValuesNotPresent()" id="gradeValues">
  <div id="listOfGradeProperties">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="grade in gradeValues">
        <div class="row form-inline" style="margin: 5px">
          <div class="form-group">
            <span id="gradingText_{{$index}}">On examination <strong>{{grade.name}}</strong> student has acquired: </span>
          </div>
          <div class="form-group">
            <input type="number" required="" class="form-control" style="width: 80px" placeholder="51"
                   id="grade_{{$index}}" name="grade{{grade.name}}" ng-model="grade.value">
          </div>
          <span> %</span>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <button id="calculateGrade" type="button" class='btn btn-success' style="display: block; width: 100%;" ng-click="evaluateGrade()">Calculate final exam grade</button>
    <br>
    <div id="passed" class="alert alert-success" role="alert" ng-show="studentGrade && studentGrade > 50">
      Student has passed the exam with {{studentGrade}}%
    </div>
    <div id="failed" class="alert alert-danger" role="alert" ng-show="studentGrade !== 'undefined' && studentGrade <= 50">
      Student has failed the exam!
    </div>
  </div>
</div>
