<div class="jumbotron" id="testHeadingConfiguration">
  <h2>Configurator</h2>
</div>

<h6>
  <label>Enter configuration for grading properties:</label>
</h6>
<div id="addNewProperty">
  <div class="row form-inline">
    <fieldset>
      <div class="form-group">
        <label for="nameOfExam">Exam: </label>
      </div>
      <div class="form-group ">
        <input type="text" required="true" class="form-control " style="width: 250px" placeholder="Final exam"
               id="nameOfExam"
               name="nameOfExam" ng-model="newGradeProperty.property.name">
      </div>
      <div class="form-group">
        <label>is</label>
      </div>
      <div class="form-group ">
        <input type="number" required="true" class="form-control" style="width: 80px" placeholder="30"
               id="finalExamPercentage"
               name="finalExamPercentage" ng-model="newGradeProperty.property.finalGradePercentage">
      </div>
      <div class="form-group">
        <label>% of final grade, </label>
      </div>
      <div class="form-group">
        <label for="compulsoryExam">and is compulsory: </label>
      </div>
      <div class="form-group">
        <input type="checkbox" required="" class="form-control" id="compulsoryExam" name="compulsoryExam"
               ng-model="newGradeProperty.property.compulsoryToPass">
      </div>
      <div class="form-group">
        <label for="compulsoryPercentage">to pass it with: </label>
      </div>
      <div class="form-group">
        <input type="number" required="" class="form-control" style="width: 80px" placeholder="51"
               id="compulsoryPercentage" name="compulsoryPercentage"
               ng-model="newGradeProperty.property.passPercentage">
      </div>
      <div class="form-group">
        <label>%</label>
      </div>
      <div class="form-group">
        <button id="addExam" type="button" class='btn btn-success' ng-click="newGradeProperty.add()">Add exam</button>
      </div>
    </fieldset>
  </div>
</div>

<hr>

<div id="listOfExistingProperties">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="grade in gradeProperties">
      <span id="exam_{{$index}}">
        Examination <strong><span id="gradeName_{{$index}}">{{grade.name}}</span></strong> is worth <strong><span id="gradePercentage_{{$index}}">{{grade.finalGradePercentage}}%</span></strong> of final grade and it is
        <span ng-if="grade.compulsoryToPass" id="gradeCompulsory_{{$index}}"><strong>compulsory</strong> to pass it with at least <strong>{{grade.passPercentage}}%</strong></span>
        <span ng-if="!grade.compulsoryToPass" id="gradeNotCompulsory_{{$index}}"><strong>not compulsory</strong>!</span>
        <span ng-click="removeProperty(grade)">
          <i id="removeExamination_{{$index}}" class="glyphicon glyphicon-trash pull-right"></i>
        </span>
      </span>
    </li>
  </ul>
</div>







